

body {
  margin: 0;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #f5f5dc;
}


.dashboard-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #1f1f1f;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.2);
}

h1 {
  text-align: center;
  color: #6B8E23;
}

.graficos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

canvas {
  background: #2c2c2c;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  height: auto;
  max-width: 100%;
}
canvas {
  max-width: 600px;
  margin: 0 auto;
}

.graficos-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.voltar-btn {
  background-color: #556B2F; /* marrom */
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.voltar-btn:hover {
  background-color: #6B8E23; /* marrom mais claro no hover */
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
